!!!
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %title unDemoDeRails - Un ejemplo de un sitio web hecho en Rails
    %meta(name="description" content="Un ejemplo de un sitio web hecho en Rails")
    %meta(name="keywords" content="rails, ruby, ruby on rails, demo, ejemplo, tutorial, programacion")

    = stylesheet_link_tag 'screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'print.css', :media => 'print'
    /[if IE 8]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'

    = stylesheet_link_tag 'scaffold'
    = javascript_include_tag :defaults
    = csrf_meta_tag

  %body
    #header
      = render 'header'

    #container
      %ul#menu
        %li
          %a{ :href => "/" } Home
        %li
          %a{ :href => "/tutoriales" } Creando este sitio
        %li
          %a{ :href => "https://github.com/uokesita/unDemoDeRails" } GitHub
        .clear

      #content        
        = yield

      #sidebar   
